header {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}

.gallery-item {
  width: 400px;
  height: 100%;
  padding: 20px;
  border: 1px solid;
  margin-bottom: 50px;
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.gallery-item div {
  height: 50px;
}

.project-status-active {
  background-color: #518b51;
  color: white;
  padding: 3px;
  border-radius: 5px;
  font-size: 15px;
}

.project-status-inactive {
  background-color: #b94646;
  color: white;
  padding: 3px;
  border-radius: 5px;
  font-size: 15px;
}

.button {
  height: 35px;
  width: 50px;
  border-radius: 5px;
  background: #4498ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

input {
  height: 21px;
  border-radius: 5px;
  margin: 10px;
  font-size: 15px;
  padding: 5px;
}

label {
  font-weight: 600
}